.container
  height: 100vh
  overflow-y: scroll
  
.content--wrapper
  background-color: $white
  position: relative

.main
  min-height: calc(100vh - #{($header-height + 187px)})

  // +device(tablet-or-less)
    // padding-top: em(60)

// .container
//   max-width: em(2500)
//   margin-right: auto
//   margin-left: auto


/* before
.query--container
  contain: layout inline-size style
  --css-contain: layout inline-size style
  contain: layout inline-size style

/* after

.spotlight

  &__img
    padding-top: 100%
    position: relative

    > img
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0
    
    @media (max-width: 900px)
      display: none

.select

  &__link
    color: $black
    padding:
      right: 1em
      left: 1em

    &:hover
      color: $white
      background-color: $black
      border-radius: em(20)
      

.selected
  color: $white
  background-color: $black
  border-radius: em(20)


.layout

  &--sidebar

    &--left
      +device(desktop-up)
        grid-template-columns: minmax(em(280), em(300)) 1fr
        grid-template-areas: 'a b'

    &--right
      +device(desktop-up)
        grid-template-columns: 1fr minmax(em(280), em(300))
        grid-template-areas: 'b a'



.sidebar
  order: 1

  +device(desktop-up)
    grid-area: a

.content
  order: 2

  +device(desktop-up)
    grid-area: b
