.main
  min-height: 100vh
  padding-bottom: 5rem

.block
  grid-template-columns: em(250) 1fr
  grid-template-areas: 'sidebar article'
  padding-top: 5rem
  grid-gap: 2rem

  article
    grid-area: article

  h1
    color: $prime
    line-height: 1
    position: relative

    &::before
      content: ''
      background-color: $second
      height: em(1)
      width: 100%
      position: absolute
      bottom: em(6)
      left: 0


.sidebar
  color: $second
  background-color: $prime
  grid-area: sidebar
  padding: 1rem

  a
    color: $second

.hidden

  &__heading
    font-size: 1px
    height: 0
    width: 0
    visibility: 
    position: absolute
    top: 0
    left: -999rem
    z-index: -999

.news

  &__heading
    order: 2

  &__excerpts
    order: 3

.featured
  order: 1



// Subpages

.banner

  &--subpage

    &::before
      content: attr(data-subpage)
      +fluid(font-size, 47, 52)
      font-weight: 700
      



    
