.breadcrumb
  padding-top: 2em

  +device(desktop-up)
    width: 100%

  @supports (display: flex)
    padding-top: 0
    margin-bottom: 1em
    order: 1

  &__item
    margin-right: 1em
    position: relative

    a
      border-bottom: none

    &:last-of-type
      font-weight: 500
      margin-right: 0

      > a
        pointer-events: none

      &::after
        content: none

    &::after
      content: '/'
      position: absolute
      right: -0.75em
      top: 0
  