%btn
  display: inline-block
  // font-family: Merriweather
  font-weight: 700
  // text-transform: uppercase
  border-radius: em(3)
  margin-top: 0.5em
  white-space: nowrap
  position: relative
  overflow: hidden
  +transition('color, background-color, border')

.btn
  @extend %btn

  &--solid
    
    &--sm
      padding: 0.15em 1em

    &--lg
      padding: 0.45em 2em

  &--ghost
    color: $dark
    background-color: $light
    border: .1em solid
    border-color: $light

    &--sm
      @extend .btn--ghost
      padding: 0.15em 1em

    &--lg
      @extend .btn--ghost
      padding: 0.45em 2em
    
    @media (hover: hover)
      color: $light
      background-color: $light-init
      +transition('color, background-color')

      &:hover
        color: $dark
        background-color: $light

    &:active
      color: $dark
      background-color: $light

  &--wht
    background-color: $white
    color: $black

  &--blk
    background-color: $black
    color: $white

  &--primary
    color: $prime
    background-color: $second
    +transition('color, background-color')
    
    @media (hover: hover)

      &:hover
        background-color: darken($second, 2%)

    &:active
      color: $dark
      background-color: $light

// +ignore
//   span.ripple
//     position: absolute

//     /* The absolute position we mentioned earlier
//     border-radius: 50%
//     transform: scale(0)
//     animation: ripple 600ms linear
//     background-color: $ripple

//   @keyframes ripple
//     to
//       transform: scale(4)
//       opacity: 0

