.form
  padding-top: 3em

  &__field
    margin-bottom: 0.5em

  &__label
    display: inline-block
    margin-bottom: 0.5em

  &__input, &__message
    font: inherit
    line-height: inherit
    margin-bottom: 0.5em
    padding: 0.5em 1em
    width: 100%
    border: 1px solid silver

  &__message
    height: 8rem
    resize: none
  
  &__disclaimer
    display: block
    margin-bottom: 1.5em

    > a
      border-bottom: 1px solid $black

.required
  
  &::after
    color: red
    content: ' *'


/* uncss:ignore start */
.error-message
  color: red
  font-size: 0.8em
/* uncss:ignore end */


input[type=submit]
  border: none
  font: inherit
  cursor: pointer

#checking
  display: none
  height: 0
  overflow: hidden
  visibility: hidden
  width: 0

