extends ../../../layout/_layout

block var
  - let title = 'Department | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let athletics = 'current'
  //- - let page = 'Departments'

block content

  //- include ../../../partials/_banner

  h1 Department