extends ../../../layout/_layout

block var
  - let title = 'Departments | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let faculty = 'current'


//- 
//- Agricultural Science
//- Agriculture
//- Art & Design
//- Clerical
//- Computer Studies
//- Counselling
//- FACS
//- HFLE
//- Language
//- Language Arts
//- Library Science
//- Mathematics
//- Modern Languages
//- Modern Languages
//- Performing Arts
//- Physical Education
//- Pre-Vocational
//- Principal
//- Religious Studies
//- Resource
//- Science
//- Social Studies
//- Technical Studies
//- Technical Studies
