extends ../../../layout/_layout

block var
  - let title = 'Departments | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let faculty = 'current'
  - let subpage = 'Departments'
  - let page = subpage

block content

  include ../../../partials/_banner

  .block.content.content--wide.grid
    
    article
    
      ul.grid.grid--2cols--medium.grid--3cols--large.no-list-style
        include ../../../components/_department
        //- 
        +dept('Agricultural Science', 'Trained Teacher', agriculturalScience)
        //- Agriculture
        +dept('Agriculture', 'Trained Teacher', agriculture)
        //- Art & Design
        +dept('Art & Design', 'Trained Teacher', artDesign)
        //- Clerical
        +dept('Clerical', 'Secretary', clerical)
        //- Computer Studies
        +dept('Computer Studies', 'Trained Teacher', computerStudies)
        //- Counselling
        +dept('Counselling', 'Trained Counseler', counselling)
        //- FACS
        +dept('FACS', 'Trained Teacher', facs)
        //- HFLE
        +dept('HFLE', 'Trained Teacher', hfle)
        //- Language
        +dept('Language', 'Trained Teacher', language)
        //- Language Arts
        +dept('Language Arts', 'Trained Teacher', languageArts)
        //- Library Science
        +dept('Library Science', 'Trained Teacher', libraryScience)
        //- Mathematics
        +dept('Mathematics', 'Trained Teacher', math)
        //- Modern Languages
        +dept('Modern Languages', 'Trained Teacher', modernLanguages)
        //- Performing Arts
        +dept('Performing Arts', 'Trained Teacher', performingArts)
        //- Physical Education
        +dept('Physical Education', 'Trained Teacher', pe)
        //- Pre-Vocational
        +dept('Pre-Vocational', 'Trained Teacher', prevoc)
        //- Religious Studies
        +dept('Religious Studies', 'Trained Teacher', religion)
        //- Resource
        +dept('Resource', 'Trained Teacher', resource)
        //- Science
        +dept('Science', 'Trained Teacher', science)
        //- Social Studies
        +dept('Social Studies', 'Trained Teacher',socialStudies)
        //- Technical Studies
        +dept('Technical Studies', 'Trained Teacher', technicalStudies)
     
    
    include ../../../partials/_sidebar
    +sidebar(schoolDepartments)
