footer(class='[ footer ] [ pt--5 pb--1 ]')

  //- div(class='[ x--wide mb--1 ]')
    
  div(class='[ wrapper ] [ x--wide grid gr--1 gc--2 pb--3 ]')

    a(class='[ logo ] [ flex--middle ]' href='/' aria-label='Home')
      include ../graphics/_logo
  
    //- p(class='[ summary ] [ ch--27 ]')
    //-   | Committed to the delivery of quality education and the promotion of academic excellence.

    div(class='[ address ] [ text--center ]')
      address
        span Gregory Street
        br
        span P.O. Box N-3913
        br
        span Nassau, NP

    div(class='[ phone ] [ text--center ]')
      +tel('242','325','1506')(class='[ block ]')
      +tel('242','325','1507')(class='[ block ]')
    
    div(class='[ follow ] [ text--center ]')
      
      +email('info','tathompson.edu.bs')(class='[ in-bl mb--050 ]')
      
      ul(class='[ social ] [ flex flex--center ]')
        +fb-sq('')(class='[ mr--050 ]')
        +ig('')(class='[ mr--050 ]')

  b(class='[ line ] [ x--wide block ]')

  div(class='[ copyright ] [ x--wide flex--between py--1 ]')

    small(class='[ mb--025 ]')= `© ${year} T.A. Thompson Junior High School.`

    small
      a(href='/privacy-policy') Privacy Policy
    