doctype html

include ../utils/_var
include ../utils/_mixins

block var

html#page(lang='en' prefix="og: https://ogp.me/ns#")
  
  head
  
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    
    // Site Title
    title= title

    // Site Description
    meta(name='description' content= description)

    // Responsive Tag
    meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')

    // Google hreflang Tag
    link(rel='canonical', href= site + pageUrl)
  
    
    //- // Preconnect
    //- link(rel='preconnect', href='')
    
  
    // CSS Loading
    - let hash = new Date().getTime()

    //- https://www.filamentgroup.com/lab/critical-cdn.html
    // CSS — START
    if pro    
      link(rel='preload' href='styles/style-version.min.css' as='style')
      link(type='text/css' rel='stylesheet' href='styles/style-version.min.css')

    else
      link(rel='preload' href='styles/style.css' as='style')
      link(rel='stylesheet', href='/styles/style.css', )
    // CSS — END
    
    // Site Scripts — START
    +script('app', true, true, false)
    // Site Scripts — END

    // No Script Styles – START
    noscript
      style.
        .script {display: none}
    // No Script Styles – START

    // Site Favicons - START
    //- https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df
    link(rel='icon' href='/favicon.svg')
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#9395a1")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="manifest", href="/manifest.json")
    meta(name="theme-color", content="#ffffff")
    // Site Favicons - END
      
  body
    
    //-  Include Site Header
    include _header
    
    block content
    
    //- Include Site Footer
    include _footer
    +script('obfuscate', false, false, true)

    block footer
      