.news
  margin-top: 5rem

  &__heading
    margin-bottom: 2rem

  &__excerpts
    grid-gap: 2rem 1.5rem

.featured
  grid-template-columns: 2fr 1fr
  grid-template-areas: 'img content'
  grid-column-gap: 2rem
  margin-bottom: 5rem

  &__content
    grid-area: content

  &__img
    grid-area: img
    padding-top: 56.25%
    position: relative

    > img
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0

.excerpt

  &__heading
    +fluid(font-size, 23, 25)
    order: 2

  &__date
    +fluid(font-size, 14, 16)
    order: 3

  &__img
    order: 1
    margin-bottom: 1em
    padding-top: 56.25%
    position: relative

    > img
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0

.prevocs
  color: $white
  background-color: $prime
  padding:
    top: 5rem
    bottom: 5rem

.summary
  padding:
    top: 5rem
    bottom: 5rem