.banner
  +fluid(min-height, 320, 800)

  &__wrapper
    min-height: inherit
    align-items: center

  &__content
    background-color: $prime
    padding: 3rem 2rem

  &__subheading
    +fluid(font-size, 23, 25)

.oversized
  max-width: 1600px
  margin-left: auto
  margin-right: auto
