//- Set dev or production environment
- var pro = false



//- Project Url
- var site = 'https://tathompson.edu.bs' //- Do not forget trailing slash on the domaing name.

//- Project Subdomain // If no subdomain set variable to site ^
- var staging = 'https://tender-poincare-be6737.netlify.app' //- Do not forget trailing slash on the domaing name.

//- Cloudinary account
- var cloud = 'filiio'

- var postTitle = ''

- var lorem = 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nulla, accusantium obcaecati iusto quis animi nesciunt delectus, recusandae quidem aliquam dolorum quaerat voluptatem eos non asperiores fugit modi ipsa. Dolorum!'

- var follow = 'Follow me on '

- var share = 'Share on '

- var async = 'async'
- var defer = 'defer'