//- Set dev or production environment
- let pro = true



//- Project Url
- let site = 'https://tathompson.edu.bs' //- Do not forget trailing slash on the domaing name.

//- Project Subdomain // If no subdomain set variable to site ^
- let staging = 'https://tathompson.netlify.app' //- Do not forget trailing slash on the domaing name.

//- Cloudinary account
- let cloud = 'filiio'

- let postTitle = ''

- let lorem = 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nulla, accusantium obcaecati iusto quis animi nesciunt delectus, recusandae quidem aliquam dolorum quaerat voluptatem eos non asperiores fugit modi ipsa. Dolorum!'

- let follow = 'Follow me on '

- let share = 'Share on '

- let async = 'async'
- let defer = 'defer'