extends ../../layout/_layout

block var
  - let title = 'School Events | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let events = 'current'
  - let page = 'Our School'

block content

  div(class='[ x--wide ]')

    article

      h1 School Events


    include ../../partials/_sidebar
    +sidebar(schoolSubpages)


    