extends ../../layout/_layout

block var
  - let title = 'Faculty & Staff'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let faculty = 'current'
  - let page = 'Our School'
  - crumbs = {'Our School':'/our-school/', 'Faculty & Staff':'last'}

block content

  //- Auto Deploy Hugo
  //- https://flaviocopes.com/netlify-auto-deploy/
  //- Hugo Activity Calender
  //- https://gohugohq.com/partials/activity-calendar-posts/
  //- https://gist.github.com/zthxxx/9ddc171d00df98cbf8b4b0d8469ce90a
  
  +breadcrumbs(crumbs)(class='[ x--wide pt--1 pb--2 ]')

  div(class='[ layout--sidebar--left ] [ x--wide grid gr--2 gc--3 ]')
    
    article

      h1(class='[ mb--050 ]') Faculty &amp; Staff

      include ../../components/_profiles

      ul(class='[ departments ] [ grid x2--md x3--lg gr--2 gc--2 ]')
        include ../../components/_departments
        //- Clerical
        +dept('Clerical', 'Secretary', clerical)
        //- 
        +dept('Agricultural Science', 'Trained Teacher', agriculturalScience)
        //- Agriculture
        +dept('Agriculture', 'Trained Teacher', agriculture)
        //- Art & Design
        +dept('Art & Design', 'Trained Teacher', artDesign)
        //- Computer Studies
        +dept('Computer Studies', 'Trained Teacher', computerStudies)
        //- Counselling
        +dept('Counselling', 'Trained Counseler', counselling)
        //- FACS
        +dept('FACS', 'Trained Teacher', facs)
        //- HFLE
        +dept('HFLE', 'Trained Teacher', hfle)
        //- Language
        +dept('Language', 'Trained Teacher', language)
        //- Language Arts
        +dept('Language Arts', 'Trained Teacher', languageArts)
        //- Library Science
        +dept('Library Science', 'Trained Teacher', libraryScience)
        //- Mathematics
        +dept('Mathematics', 'Trained Teacher', math)
        //- Modern Languages
        +dept('Modern Languages', 'Trained Teacher', modernLanguages)
        //- Performing Arts
        +dept('Performing Arts', 'Trained Teacher', performingArts)
        //- Physical Education
        +dept('Physical Education', 'Trained Teacher', pe)
        //- Pre-Vocational
        +dept('Pre-Vocational', 'Trained Teacher', prevoc)
        //- Religious Studies
        +dept('Religious Studies', 'Trained Teacher', religion)
        //- Resource
        +dept('Resource', 'Trained Teacher', resource)
        //- Science
        +dept('Science', 'Trained Teacher', science)
        //- Social Studies
        +dept('Social Studies', 'Trained Teacher',socialStudies)
        //- Technical Studies
        +dept('Technical Studies', 'Trained Teacher', technicalStudies)
    
      
    include ../../partials/_sidebar
    +sidebar(schoolSubpages)