extends ../../layout/_layout

block var
  - let title = 'Our School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let school = 'current'
  - crumbs = {'Our School':'last'}

block content

  
  div(class='[ x--wide flex--col ]')
  
    div(class='[ layout--sidebar--left ] [ grid gr--2 gc--3 o--2 ]')

      article(class='[ content ]')

        h2 About T.A. Thompson Junior High 
          span(class=[ hidden ]) School

        - let p = 0;

        while p++ < 4

          p=lorem

      include ../../partials/_sidebar
      
      +sidebar(schoolSubpages)

    +breadcrumbs(crumbs)(class='[ pt--1 pb--2 o--1 ]')

      