extends ../../layout/_layout

block var
  - let title = 'Our School | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let school = 'current'

block content

  header.banner(data-bg=`${staging}/img/laughing-students.jpg`)
    
    .content.content--wide

      h1 Our School

  .block.content.content--wide.grid

    article

      h2 About the School

      - let p = 0;

      while p++ < 4

        p=lorem

    include ../../partials/_sidebar
    +sidebar(schoolSubpages)


    