extends ../../layout/_layout

block var
  - let title = 'T.A. Thompson | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let ta = 'current'


block content