extends ../../layout/_layout

block var
  - let title = 'T.A. Thompson | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let ta = 'current'

block content

  .banner.oversized

  
  .content.content--wide

    article
      h1 Thomas Alvin Thompson

      p Thomas Alvin Thompson was born on February 4, 1889 in Hope Town, Abaco.

      p At age 12 he became a monitor at the Hope Town Public School. In 1907 he travelled to Nassau for a student teacher's examination and placed first. 

      p Between 1908 - 1909 he was appointed a student teacher and was sent to The Boys Central School, Nassau for training. He was later appointed as an Assistan to Mr. Wallace Thompson, headmaster, of the Victoria School.

      p In 1909, he was given the position of acting master of the Public School in Green Turtle Cay, Abaco where he later became headmster. He was appointed second master in 1914 to the Boys' Central School, Nassau, after which he took the local teacher's examination and obtained a first class certificate. In 1917, he became headmaster of the Boys' Central School.

      p During the summer of 1934, Mr. Thompson was chosen to represent The Bahamas in a Summer Seminar at Yale University in the United States. His report from the seminar led to his appointment as assistant Inspector of Schools in 1938.

      p During the latter part of 1939, he became a registered member of the Royal Institute of Public Health and Hygiene. He published a book entitled **A Short Geography of The Bahamas. In 1948, he was given the title of Companion of the Imperial Service Order by HM King George. A year later, he retired.

      p In 1952, he came out of retirement when he accepted a post as accountant to the Labour Office. Two years later, he was employed as an accountant and statistician by the Development Board. In 1965, Mr. Thompson, suffered a heart attack and retired from work permanently. He died in Nassau on April 20, 1966 at the age of seventy-seven (77).

      p T.A. Thompson Primary School was named in his honour. It was located where C.R. Walker now stands. In 2008, C.C. Sweeting Junior High School was renamed, T.A. Thompson Junior High School, in his honour.
    - 
      var sidebar = [
        {page:'Our School', link:'/our-school', current: school},
        {page:'T.A. Thompson', link:'/our-school/thomas-alvin-thompson', current: ta},
        {page:'Faculty & Staff', link:'faculty-staff', current: faculty}
        //- {page:'', link:'', current:}
      ]
  
    include ../../partials/_sidebar