extends ../../layout/_layout

block var
  - let title = 'News'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let news = 'current'

  - crumbs = {'News':'last'}


block content

  div(class='[ flex--col ]')

    div(class='[ o--2 ]')

      ul(class='[ loop ] [ x--wide grid x2--md x3--lg g--2 ]')

        - i = 0;

        while i++ < 9

          include ../../partials/_loop

      include ../../components/_paginate

    div(class='[ o--1 ]')

      div(class='[ x--wide flex--between--middle flex--wrap pt--1 pb--2 ]')
        
        +breadcrumbs(crumbs)(class='[ mr--1 ]')

        div(class='[ flex--middle ]')
          
          span(class='[ in-bl mr--1 ]') Share on:

          ul(class='[ social ] [ flex ]')
            +fb-sq('', true)(class='[ mr--050 ]')
            +tw('', true)(class='[ mr--050 ]')
            +in-sq('', true)(class='[ mr--050 ]')

