extends ../layout/_layout

block var
  - title = 'Error 404'
  - description = 'This is a template.'
  - pageUrl = ''

  - solid = true

block content

  main#main(class='[ main ] [ x--wide flex--middle pt--10 pb--5 ]')
        
    article

        h1 Error 404

        p 
          | It looks like you might be lost... 
          a(href='/') Need some help getting back?
