extends ../layout/_layout

block var
  - var title = 'Contact Us | T.A. Thompson Junior High School'
  - var description = 'This is a template'
  - var pageUrl = ''


block content

  div

    .school-details
      h1 Contact Us

      address
        span Gregory Street
        br
        span P.O. Box N-3913
        br
        span Nassau, NP


      script(data-local='info',data-domain='@tathompson.edu.bs' , obfuscate)
      script(data-country='1', data-area='242', data-prefix='325', data-line='1506' obfuscate)
      script(data-country='1', data-area='242', data-prefix='325', data-line='1507' obfuscate)
    
    include ../components/_form__simple

    

  #map.map