extends ../layout/_layout

block var
  - title = 'Contact Us'
  - description = 'This is a template'
  - pageUrl = ''
  - contact = 'current'

  - crumbs = {'Contact Us':'last'}
  - solid = true

block content

  main#main(class='[ main ] [ flex--col pb--5 ]')

    article(class='[ x--wide o--3 ]')

      h1 Contact Us 

      div(class='[ layout--sidebar--right ] [ grid gr--2 gc--3 ]')
        
        div(class='[ content ] [ o--2 ]')
          
          p At T.A. Thompson Junior High School we care about our students and their parents. If you have questions for us, 
            | don't hesitate to reach out by filling out the form below, send us an email or calling the school office.
          
          include ../components/_form__simple

        aside(class='[ sidebar ] [ o--1 ]')

          address(class='[ block mb--1 ]')
            span Gregory Street
            br
            span P.O. Box N-3913
            br
            span Nassau, NP
            br
            +a('https://goo.gl/maps/NUqZKL5YayhroUf16', 'Get Directions')

          +email('info', 'tathompson.edu.bs')(class='[ block mb--050 ]')

          +tel('242','325','1506')(class='[ block mb--050 ]')
          
          +tel('242','325','1507')(class='[ block mb--2 ]')

          
          ul(class='[ social ] [ flex--bottom ]')
            +fb('#', false)(class='[ mr--050 ]')
            +tw('#', false)


    div(class='[ o--2 ]')

      div(class='[ x--wide flex--between--middle flex--wrap pt--1 pb--2 ]')
        
        +breadcrumbs(crumbs)(class='[ mr--1 ]')

        div(class='[ flex--middle ]')
          
          //- span(class='[ in-bl mr--1 ]') Share on:

          ul(class='[ social ] [ flex--bottom ]')
            +fb-sq('', true)(class='[ mr--075 ]')
            +tw('', true)(class='[ mr--075 ]')
            +in('', true, 'in-soc')(class='[ mr--075 ]')
            +whatsapp('','','')(class='[ mr--075 ]')
            +copylink(class='[ mr--075 ]')
            //- +env('')


    #map(class='[ hero map ] [ o--1 ]')

block footer
  +script('map', false, false, true)
  script(async src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCbQ15BZTZVtFkC1_IcVdMUXm4M0_kpVYo&callback=initMap')