extends ../layout/_layout

block var
  - let title = 'T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  //- - let home = true
  //- - let body = 'triangle'


block content

  .school-contacts


  include ../partials/_banner
