extends ../layout/_layout

block var
  - var title = 'T.A. Thompson Junior High School'
  - var description = 'This is a template'
  - var pageUrl = ''


block content

  .school-contacts


  include ../partials/_banner
