extends ../layout/_layout

block var
  - let title = 'T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let home = true
  //- - let body = 'triangle'


block content

  div(class='[ inspiration ] [ py--5 ]')

    div(class='[ wrapper ] [ x--wide flex--col flex--middle ]')

      q(class='[ ch--45 block font--2 text--center mb--1 ]') Education is the passport to the future, for tomorrow belongs to those who prepare for it today.

      cite(class='[ block ]') Malcolm X

  //- Short summary of School | upcoming events
  ul(class='[ x--wide grid x3--lg g--2 py--5 ]')

    li
      
      h2(class='[ font--3 ]') Knowledge
      
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi architecto odio et necessitatibus beatae repellendus.

    li
      
      h2(class='[ font--3 ]') Integrity

      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi architecto odio et necessitatibus beatae repellendus.

    li
      
      h2(class='[ font--3 ]') Excellence
      
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi architecto odio et necessitatibus beatae repellendus.

    //- div

    //-   h2(class='[ mb--050 ]') An Excellent School, Producing Excellent Students

    //-   p= lorem
    //-   p= lorem

  //- Prevocs
  section(class='[ feature ] [ half flex ]')

    div(class='[ half__content ]')
      
      div(class='[ x--wide grid gc--3 ]')
        
        div(class='[ feature__content ] [ py--5 ]')

          h2(class='[ mb--050 ]') Pre-Vocational Studies

          p= lorem

          a(class='[ btn btn--solid--lg btn--primary ]' href='#') Learn More
            span(class='[ hidden ]') About Pre-Vocational Studies


    div(class='[ half__img ] [ grid gc--3 o--2 ]')
      figure(class='[ feature__img ]')
        +img('laughing-students.jpg', 'Students laughing')


  //- News

  section(class='[ x--wide ] [ pt--5 ]')

    h2(class='[ mb--050 ]') Latest News

    ul(class='[ loop ] [ grid x2--md x3--lg g--2 ]')

      - i = 0;

      while i++ < 3

        include ../partials/_loop