extends ../layout/_layout

block var
  - title = 'Thank You'
  - description = 'This is a template.'
  - pageUrl = ''

  - solid = true

block content

  main#main(class='[ main ] [ x--wide flex--middle pt--10 pb--5 ]')

      article
        h1 Thank You

        p Hey, thanks for getting in touch. I'll get back to you as soon as I can. 
        
        p
          b Have a great 
            span#timeOfDay day
            | !

        small.script(aria-hidden='true') This page will redirect in 
          span#countdown
          | .

block footer
  //- +script('thank-you', false, false, true)

  

