extends ../layout/_layout

block var
  - var title = 'Thank You | [COMPANY NAME]'
  - var description = 'This is a template.'
  - var pageUrl = ''


  

block content

  main#main.main.content__main.content.content--wide.grid

      article.article.content__proper.content--narrow
        h1 Thank You

        p Hey, thanks for getting in touch. I'll get back to you as soon as I can. 
        
        p
          b Have a great 
            span#timeOfDay day
            | !

        small.script(aria-hidden='true') This page will redirect in 
          span#countdown
          | .
      include ../partials/_sidebar

block footer
  +script('thank-you', false, false, true)

  

