//- Set dev or production environment
- pro = true
//- Project Url
- site = 'https://tathompson.netlify.app' //- Do not forget trailing slash on the domaing name.

- siteName = 'T.A. Thompson Junior High School'

- tagLine = 'Cultivating Minds, Moulding Character'
//- 'Committed to the delivery of quality education and the promotion of academic excellence.'
//- Project Subdomain // If no subdomain set variable to site ^
- imgPath = `${site}/uploads` //- Do not forget trailing slash on the domain name.

//- Cloudinary account
- cloud = 'filiio'

- postTitle = 'Cost, Price, Value And The Difference'

- lorem = 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nulla, accusantium obcaecati iusto quis animi nesciunt delectus, recusandae quidem aliquam dolorum quaerat voluptatem eos non asperiores fugit modi ipsa. Dolorum!'

- follow = 'Follow me on '

- share = 'Share on '

- year = new Date().getFullYear()

