// ** SITE WIDTH — START ** //

$min-screen-size: 320
$max-screen-size: 1600

$desktop: 1080px
$desktop--wide: 1200px
$narrow: 700px

// ** SITE WIDTH — END ** //

// ** FONT SIZE — START ** //
  
$min-font-size: 16
$max-font-size: 20

// ** FONT SIZE — END ** //


// ** TEST POSITIONING - START ** //

$bg: 1px solid green
$by: 1px solid yellow
$bb: 1px solid blue

// ** TEST POSITIONING - END ** //
  
$header-height: 90px

$font: 'Metropolis', sans-serif
