
if home

  header(class='[ hero hero--home ]' data-bg=`${site}/uploads/student-banner.jpg`)

    div(class='[ wrapper ] [ x--wide flex--middle ]')

      div

        h1(class='[ hidden ]') T.A. Thompson Junior High School
        
        h2(class='[ font--1 ]') Cultivating Minds, 
          br 
          span Moulding Character

        p(class='[ ch--44 h4 ]') Committed to the delivery of quality education and the promotion of academic excellence.

        a(class='[ btn btn--solid--lg btn--primary ]' href='/our-school/') Learn More
          span(class='[ hidden ]') About T.A. Thompson Junior High School


      div(class='[ arrow ] [ flex--center ]')
        include ../graphics/_down-arrow

else if map
  div(class='[ hero ]')

else

  header(class='[ hero ]' data-bg=`${site}/uploads/student-banner.jpg`)

    div(class='[ wrapper ] [ x--wide flex--middle ]')
      
      if subpage
        span(class='[ subtitle block ]' data-section=subpage)

      else
        h1=title
