.banner(data-bg=`${staging}/img/laughing-students.jpg`)

  .banner__wrapper.content.content--wide.grid.grid--2cols--medium

    .banner__content

      h1.banner__heading Cultivating Minds, Moulding Character

      p.banner__subheading Committed to the delivery of quality education and the promotion of academic excellence.

      a(href='/our-school/') Learn more about our school
