li(class='[ loop__item ] [ flex--col ]')
    
    h2(class='[ font--5 o--2 ]')
      a(href='/news/post') T.A. Thompson Launches Website

    //- p(class='[ o--3 ]') Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam dolorem animi eligendi ratione...
    
    time(class='[ loop__date ] [ font--6 o--3 ]') Oct 31, 2020
    
    a(href='/news/post' class='[ o--1 ]')
      figure(class='[ loop__thumb ] [ mb--1 ]')
        +img('laughing-students.jpg', 'Students laughing')
