extends ../../layout/_layout

block var
  - let title = 'clubs | T.A. Thompson Junior High School'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let clubs = 'current'

block content