extends ../../layout/_layout

block var
  - let title = 'Student Life'
  - let description = 'This is a template'
  - let pageUrl = ''
  - let student = 'current'
  //- - let subpage = 'Our School'
  - let page = subpage
  - crumbs = {'Student Life':'last'}

block content

  div(class='[ flex--col ]')

    div(class='[ layout--sidebar--left ] [ x--wide grid gr--2 gc--3 o--2 ]')

      article(class='[ content ]')

        h2 About T.A. Thompson Junior High 
          span(class=[ hidden ]) School


        figure(class='[ mb--1 ]')
          +img('laughing-students.jpg', 'Laughing students' )(class='[ mb--1 ]')

          figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolore delectus, quia soluta voluptatibus esse in officia tenetur, fugit, eveniet possimus consectetur sit? Atque, tempora.

        figure(class='[ mb--1 ]')
          +img('laughing-students.jpg', 'Laughing students' )

        - let p = 0;

        while p++ < 4

          p=lorem

        hr(class='[ block mb--2 ]')

        ul(class='[ sections ]')

          - s = 0;

          while s++ < 2

            li(class='[ section ] [ grid x3--lg gc--2 gr--1 mb--2 ]')

              div(class='[ section__summary ] [ o--2 ]')

                h3 Athletics

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rem explicabo vel id, nostrum molestias quidem.

                div
                  a(class='[ btn btn--solid--lg btn--primary ]') Learn More
                    span(class='[ hidden ]') About Athletics

              figure(class='[ section__thumb ] [ o--1 ]')
                +img('laughing-students.jpg', 'Laughing students' )




      include ../../partials/_sidebar
      
      +sidebar(schoolLife)

    div(class='[ o--1 ]')

      div(class='[ x--wide flex--between--middle flex--wrap pt--1 pb--2 ]')
        
        +breadcrumbs(crumbs)(class='[ mr--1 ]')

        div(class='[ flex--middle ]')
          
          span(class='[ in-bl mr--1 ]') Share on:

          ul(class='[ social ] [ flex ]')
            +fb-sq('', true)(class='[ mr--050 ]')
            +tw('', true)(class='[ mr--050 ]')
            +in-sq('', true)(class='[ mr--050 ]')
