div(class='[ carousel ] [ x--wide flex flex-between pb--3 ]')
      
  div(class='[ carousel__item ] [ mr--3 ]')
    include ../graphics/_gucci

  div(class='[ carousel__item ] [ mr--3 ]')
    include ../graphics/_prada

  div(class='[ carousel__item ] [ mr--3 ]')
    include ../graphics/_chanel

  div(class='[ carousel__item ] [ mr--3 ]')
    include ../graphics/_louis-v

  div(class='[ carousel__item ]')
    include ../graphics/_michael-kors