form#contact-form.form.form__contact.content.content--narrow

  .form__field
    label.form__label(for='name') 
      | Name
      //- span.red  *
    input#name.form__input(type='text', name='name', placeholder='John Doe', required)

  .form__field
    label.form__label(for='email') 
      | Email
      //- span.red  *
    input#email.form__input(type='text', name='email', placeholder='your@email.com', required)
  
  .form__field
    label.form__label(for='tel') 
      | Telephone
      //- span.red  *
    input#tel.form__input(type='tel', name='tel', placeholder='305 809 9455')
  
  .form__field
    label.form__label(for='message')
      | Message
      //- span.red  *
    textarea#message.form__message(placeholder='Say hello, tell us what you\'re thinking about and we\'ll see how we can help.', required)

  input#lead-source(type='hidden', value='Get In Touch | Filiio Digital Marketing')
  input#lead-url(type='hidden', value='https://filiio.com/get-in-touch')

  .form__submit.flex--end

    input#submit.btn.btn--solid--lg(type='submit', value='Send')