form#form.form(data-validate)

  .form__field
    
    label.form__label.required(for='name') Name
    input#name.form__input(type='text', placeholder='Joseph', required)

    small.error-message.php This field is required.

  .form__field

    label.form__label.required(for='email') Email
    input#email.form__input(type='email', placeholder='your@email.com', required)

    small.error-message.php A valid email is required.

  .form__field
  
    label.form__label.required(for='message') Message
    textarea#message.form__message(placeholder='Say hello...', required)

    small.error-message.php Please enter a message.

  #checking
    label.form__label(for='film') This field is not for humans.
    input#film(type='text')

  input#lead-source(type='hidden', value='Get In Touch | Filiio Digital Marketing')
  input#lead-url(type='hidden', value='https://josephpinder.com/get-in-touch')

  small.form__disclaimer
     | You may unsubscribe from these communications or withdraw your consent at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our 
     a(href='/privacy-policy') Privacy Policy.
  
  .form__submit

    input#submit.btn.btn--primary.btn--solid--lg(type='submit', name='submit', value='Send')