form#form(class='[ form form--contact ]' data-validate=true)

  div(class='[ form__field ]')
    
    label(class='[ form__label ] [ required ]' for='name') Name
    input#name(class='[ form__input ]' type='text', placeholder='Your Name', required)

    //- div.error-message This field is required.

  div(class='[ form__field ]')

    label(class='[ form__label ] [ required ]' for='email') Email
    input#mailer(class='[ form__input ]' type='email', placeholder='your@email.com', required)

    //- div.error-message A valid email is required.

  div(class='[ form__field ]')
  
    label(class='[ form__label ] [ required ]' for='message') Message
    textarea#message(class='[ form__message ]' placeholder='Say hello...', required)

    //- div.error-message Please enter a message.

  #checking(class='[ hidden ]' aria-hidden='true')
    label(for='url') Please do not fill in this field.
    input#url(name='url' autocomplete='off' type='text')
    label(for='website') Please do not fill in this field.
    input#website(name='website' autocomplete='off' type='text')
    label(for='email') Please do not fill in this field.
    input#email(name='email' autocomplete='off' type='email')


  input#lead-source(type='hidden', value='Get In Touch | Filiio Digital Marketing')
  input#lead-url(type='hidden', value='https://josephpinder.com/get-in-touch')

  //- small.form__disclaimer
  //-    | You may unsubscribe from these communications or withdraw your consent at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our 
  //-    a(href='/privacy-policy') Privacy Policy.
  
  div(class='[ form__submit ]')

    input#submit(class='[ btn btn--ghost--lg ]' type='submit', name='submit', value='Send')