ul.page__pagination.flex--middle.no-list-style
  li#prev.page__item.page__prev
    a(href='#').flex
      //- ❮
      include ../graphics/_arrow-prev
  li#current.page__item.page__current 1 of 4
  li#next.page__item.page__next
    a(href='#')
      //- ❯
      include ../graphics/_arrow-next