//- ul(class='[ page ] [ flex--middle pt--2 ]')

//-   li#prev(class='[ page__item prev ] [ mr--1 ]')
//-     a(href='#', aria-label='Previous Page')
//-       include ../graphics/_arrow-prev

//-   li#current(class='[ page__item current ]') 1 of 4

//-   li#next(class='[ page__item next ] [ ml--1 ]')
//-     a(href='#', aria-label='Next Page')
//-       include ../graphics/_arrow-next


div(class='[ page ] [ x--wide flex--between--middle pt--3 ]')

  div(class='[ page__item prev ] [ flex--middle font--4 ]') &laquo;

  div(class='[ page__current ] [ flex--middle font--6 ]') 1 of 4

  div(class='[ page__item next ] [ flex--middle font--4 ]') 
   a(href='') &raquo;
