ul.profiles.no-list-style.grid.grid--2cols--medium.grid--3cols--large

  - let i = 0

  while i++ < 3
  
    li.profile.flex--col

      h2.profile__name Keva Campbell
      
      p.profile__title Vice Principal

      figure.profile__img
        +img('t-a-thompson-vice-principal-keva-campbell', 'Vice Principal Keva Campbell')
