ul(class='[ profiles ] [ grid x2--md x3--lg g--2 mb--3 ]')

  - let i = 0

  while i++ < 3
  
    li(class='[ profile ] [ flex--col ]')

      h2(class='[ font--5 o--2 ]') Keva Campbell
      
      p(class='[ o--3 ]') Vice Principal

      figure(class='[ profile__thumb ] [ o--1 mb--1 ]')
        +img('t-a-thompson-vice-principal-keva-campbell.jpg', 'Vice Principal Keva Campbell')