div(class='[ mb--1 ]')
  blockquote(class='[ quote ] [ py--2 ]' cite='https://josephpinder.com/other-page')
    
    include ../graphics/_quote 

    p(class='[ mb--1 ]') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate alias a eligendi commodi adipisci. Quam temporibus sunt quod. Libero at quos corporis repudiandae aut necessitatibus quis dolorum inventore doloremque? Officiis!

    span(class='[ source ] [ py--025 px--1 ]') Joseph Pinder