aside.quote

  blockquote(cite='https://josephpinder.com/other-page')
    
    include ../graphics/_quote 

    p(data-author='Joseph Pinder').quote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate alias a eligendi commodi adipisci. Quam temporibus sunt quod. Libero at quos corporis repudiandae aut necessitatibus quis dolorum inventore doloremque? Officiis!

    span.quote__person Joseph Pinder