*, *::before, *::after
  box-sizing: border-box

html
  +interpolate(font-size, $min-viewport-width-in-px, $max-viewport-width-in-px, $min-font-size-in-px, $max-font-size-in-px)
  -webkit-tap-highlight-color: rgba(black, 0)
  // -webkit-overflow-scrolling: touch
  text-size-adjust: 100%
  scroll-behavior: smooth

html, body
  overflow-x: hidden
  
body
  min-height: 100vh
  color: $bodyColor
  background-color: $dark
  // background-color: rgb(0,1,5)
  font:
    family: system-ui, sans-serif
    weight: 400
  line-height: 1.5
  text-rendering: optimizeSpeed
  -webkit-font-smoothing: antialiased


::selection
  color: $second
  background-color: $prime
    
img, svg, iframe
  display: block
  width: 100%
  max-width: 100%

img, svg
  height: auto

figure > img
  color: $white
  background-color: $black
  // border-radius: em(5)

// svg
//   fill: $light

a
  line-height: inherit

%a:default
  font:
    weight: 700
    weight: 500
  color: $prime
  border-bottom: em(2) solid $second
  padding-bottom: em(2)
  background-color: rgba($second, 0)


a:not([class])
  @extend %a:default

  +hover('color, background-color')
    color: $prime
    background-color: $second

  &:visited
    @extend %a:default

// https://pornzog.com/video/13365264/road-trip-27-to-bath-cynthia/