html
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  
  +interpolate(font-size, $min-viewport-width-in-px, $max-viewport-width-in-px, $min-font-size-in-px, $max-font-size-in-px)
  // line-height: 1.618

@supports(-webkit-overflow-scrolling: touch)
  html
    -webkit-overflow-scrolling: touch

@supports(-webkit-tap-highlight-color: rgba(black, 0))
  html
    -webkit-tap-highlight-color: rgba(black, 0)

@supports(text-size-adjust: 100%)
  html
    text-size-adjust: 100%

*, *::before, *::after
  box-sizing: inherit

html, body
  overflow-x: hidden

body
  color: $black
  overflow-x: hidden
  font-family: $font
  font-weight: 400
  line-height: 1.5

.triangle
  height: 100%
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="1612" viewBox="0 0 1440 1612" enable-background="new 0 0 1440 1612"><path d="M0-130h1440v1742L0 717" fill="rgb(15,71,175)"/></svg>') no-repeat
  background-position-x: 50%
  
a
  text-decoration: none

img
  display: block
  width: 100%
  max-width: 100%

input, textarea
  font:
    family: inherit
    size: inherit
  line-height: inherit
  height: 2em

.no-list-style
  list-style: none

