$grid-gap: 1rem !default

// Reusables — Flex Grid // START

// Flex Display // START

.flex
  display: flex

  &--wrap
    @extend .flex
    flex-wrap: wrap

  // Flex Display // END

  // ---------------------------------- //

  // Flex Justify // START

  &--start
    @extend .flex
    justify-content: flex-start

    &--top
      @extend .flex--start
      align-items: flex-start

    &--middle
      @extend .flex--start
      align-items: center

    &--bottom
      @extend .flex--start
      align-items: flex-end

  &--center
    @extend .flex
    justify-content: center

    &--top
      @extend .flex--center
      align-items: flex-start

    &--middle
      @extend .flex--center
      align-items: center

    &--bottom
      @extend .flex--center
      align-items: flex-end

  &--end
    @extend .flex
    justify-content: flex-end

    &--top
      @extend .flex--end
      align-items: flex-start

    &--middle
      @extend .flex--end
      align-items: center

    &--bottom
      @extend .flex--end
      align-items: flex-end

  &--around
    @extend .flex
    justify-content: space-around

    &--top
      @extend .flex--around
      align-items: flex-start

    &--middle
      @extend .flex--around
      align-items: center

    &--bottom
      @extend .flex--around
      align-items: flex-end

  &--between
    @extend .flex
    justify-content: space-between

    &--top
      @extend .flex--between
      align-items: flex-start

    &--middle
      @extend .flex--between
      align-items: center

    &--bottom
      @extend .flex--between
      align-items: flex-end

  // Flex Justify // END

  // ---------------------------------- //

  // Flex Align // START

  &--top
    @extend .flex
    align-items: flex-start

  &--middle
    @extend .flex
    align-items: center

  &--bottom
    @extend .flex
    align-items: flex-end

  // Flex Align // END

  // ---------------------------------- //

  // Flex Direction // START

  &--col
    @extend .flex
    flex-direction: column

  &--row
    @extend .flex
    flex-direction: row

  // Flex Direction // END

  // ---------------------------------- //

$breakpoints-map: (small: (query: "all and (min-width: 500px)", generate-grids: true, generate-helpers: true), medium: (query: "all and (min-width: 750px)", generate-grids: true, generate-helpers: true), large: (query: "all and (min-width: 1000px)", generate-grids: true, generate-helpers: true)) !default

.grid

  .col
    margin-bottom: $grid-gap

  @supports (display: grid)
    display: grid
    grid-template-columns: 1fr
    grid-gap: $grid-gap

    .col
      margin-bottom: 0
  
@each $breakpoint, $values in $breakpoints-map
  $name: $breakpoint
  $query: map-get($values, query)
  $generate-grids: map-get($values, generate-grids)
  @if $generate-grids
    
    @media #{$query}
      
      .grid--2cols--#{$name}
        grid-template-columns: repeat(2, 1fr)
      
      .grid--3cols--#{$name}
        grid-template-columns: repeat(3, 1fr)
      
      .grid--4cols--#{$name}
        grid-template-columns: repeat(4, 1fr)